git+https://github.com/huggingface/diffusers.git
transformers==5.9.0
huggingface_hub
sentencepiece
bitsandbytes
torchvision
accelerate
spaces
hf_xet
gradio==6.19.0
numpy
torch==2.11.0
peft
av
